<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - twAspnet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary" asp-controller="Auth" asp-action="SignOut"></a>
    }
    else
    {
        <a class="btn btn-primary login-button"  asp-controller="Auth" asp-action="SignIn" asp-route-provider="Twitter">Twitter</a>
    }

</head>
<body>
    <header>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-area="" asp-controller="Auth" asp-action="SignOut">Sign out</a></li>
                }
                else
                {
                    <li><a asp-area="" asp-controller="Auth" asp-action="Login">Login</a></li>
                }
            </ul>
        </div>
    </header>
    <div class="container">
        <div class="container body-content">
            @if (User.Identity.IsAuthenticated)
            {
                <h1>@User.Identity.Name</h1>
            }
            else
            {
                <h1>You are not logged in</h1>
            }
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2018 - AuthTestApp2</p>
            </footer>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - twAspnet - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
