    <div class="text-center">
    <h1 class="display-4">Twitter #Search</h1>
    <div style="display:inline-flex">
        <form action="" method="post" class="js-post_include" target="#jsChangeContents">
            <input id="text" type="text" />
            <input id="submit" type="submit" value="検索" />
        </form>
    </div>
    <div id="jsChangeContents">
        @*<thead>   //データセル毎に分けてヘッダー名を表示？
            <tr>
                <th id="">試験ID</th>
                <th id="">試験名</th>
                <th id="">試験回次</th>
                <th id="">成績提供期間</th>
                <th id="">成績未受理</th>
                <th id="">未出力</th>
                <th id="">未取込</th>
                <th id="">取込済</th>
            </tr>
        </thead>*@
        <p>この部分が置き換わります。</p>
    </div>
    <p>Learn about <a href="https://www.google.co.jp/">ASP.NET Core MVC</a>.</p>
</div>