@using twAspnet.Controllers;
@using CoreTweet;

<div class="text-center">
    <h1 class="display-4">Twitter #Search</h1>
    <div style="display:inline-flex">
        <form asp-controller="Enviroment" asp-action="Index" method="post">
            <input type="text" name="search" value="@ViewBag.Search" />
            <input type="submit" value="検索" />
        </form>
    </div>

    <div class="box-header">
        <h3 class="box-title">検索結果</h3>
    </div>
    
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th id="">ユーザーID</th>
                    <th id="">ユーザー名</th>
                    <th id="">ツイート</th>
                    <th id="">ツイート</th>
                </tr>
                    @if ((bool)ViewData["searched"])
                        @foreach (var item in (CoreTweet.SearchResult)ViewData["result"])
                        {
                            <tr>
                                <td>@item.User.ScreenName</td>
                                <td>@item.User.Name</td>
                                <td>@item.Text</td>
                            </tr>
                        }
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>
<p>Learn about <a href="https://www.google.co.jp/">ASP.NET Core MVC</a>.</p>
